<h3>Alert System Tests</h3>
<div class="btn-group">
    <p><button class="btn btn-default" data-bind="click: showInfo">{{ _('Info') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: showAlert">{{ _('Alert') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: showError">{{ _('Error') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: showSuccess">{{ _('Success') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: showAnnouncement">{{ _('Announcement') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: showImportantAnnouncement">{{ _('Important Announcement') }}</button></p>
</div>