<h3>Alert System Tests</h3>
<div class="btn-group">
    <p><button class="btn btn-default" data-bind="click: function(alerType, alerTitle, alertName) { genericAlert('info', 'INFO', 'infoAlert', alerType, alerTitle, alertName) }">{{ _('Info') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: function(alerType, alerTitle, alertName) { genericAlert('alert', 'ALERT', 'alertAlert', alerType, alerTitle, alertName) }">{{ _('Alert') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: function(alerType, alerTitle, alertName) { genericAlert('error', 'ERROR', 'errorAlert', alerType, alerTitle, alertName) }">{{ _('Error') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: function(alerType, alerTitle, alertName) { genericAlert('success', 'SUCCESS', 'successAlert', alerType, alerTitle, alertName) }">{{ _('Success') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: function(alerType, alerTitle, alertName) { showAnnouncement('announcement', 'ANNOUNCEMENT', 'annAlert', alerType, alerTitle, alertName) }">{{ _('Announcement') }}</button></p>
    <p><button class="btn btn-default" data-bind="click: function(alerType, alerTitle, alertName) { showAnnouncement('error', 'IMPORTANT!', 'impAlert', alerType, alerTitle, alertName) }">{{ _('Important Announcement') }}</button></p>
</div>
